include ./layout.pug
style.
    #footer_list_techs{
        border:2px solid green;
        padding:10px 230px;
    };
    #introduce_me{
        
    }
body
    include ./header.pug

    main.mt-5
        .col-6.m-auto.card.card-body(style="background-color:#3437eb")
            h3.text-center this is test rest api (mvc_design) with
            ul.text-danger.m-auto#footer_list_techs
                li M . mongoose
                li V . pug 
                li C . express
            div#introduce-me
                h6.mt-5 author : mahdi robatjazi


    
    include footer.pug