include ./layout.pug
body
    include ./header.pug

    main
        .col-6.m-auto.card.card-body
            h3 this is test rest api with [[[  express mongoose pug  ]]]
            h6 author  :  mahdi robatjazi

    include footer.pug