include ./layout.pug
body(style="background-color:#887e83")
    include ./header.pug

    main
        .col-6.m-auto.card.card-body(style="background-color:#683564")
            h3 this is test rest api with [[[  express mongoose pug  ]]]
            h6 author  :  mahdi robatjazi


    
    include footer.pug