hr
footer
    .d-flex
        div
            p(style="margin:0") programmer : mahdi_Robatjazi.
            small
                i(style="margin-left:20px") All rights reserved.

        div.ml-auto
            .row
                .m-auto
                    img(id="userLogo" alt="userLogo" width="40px" height='30px')
                        
            .row.mr-3
                small
                    .col
                        i#data

                            

    script.
        $('#data').html(localStorage.getItem('userName')||
                        sessionStorage.getItem('userName')||
                        'you are not login')
        
        var imageFilename = window.localStorage.getItem('imageFilename') 
                            ||window.sessionStorage.getItem('imageFilename')
    


        if(imageFilename=="undefined"||imageFilename==undefined){
            $('#userLogo').attr("src","/images/user_logo.png")
        }else{
            $('#userLogo').attr("src",`http://localhost:80/image/user/${imageFilename}`)
        }   