hr
footer
    .d-flex
        div
            p(style="margin:0") programmer : mahdi_Robatjazi
            small
                i(style="margin-left:20px") All rights reserved.

        div.ml-auto
            .row
                .m-auto
                    img(src="/images/user_logo.png" alt="userLogo" width="40px")
            .row.mr-3
                small
                    i
                        script.
                            document.write(
                                localStorage.getItem('userName')||
                                sessionStorage.getItem('userName')||
                                'you are not login'
                            )
        