link(rel="stylesheet" , href="/css/header.css")
header
    nav
        ul.nav-link.row 
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/") home
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/todoList") todoList
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/shopping" id="shop") shop
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/about") about
            .dropright.col-lg-2.col-md-2.col-sm-12
                button.btn.btn-success.btn-sm.dropdown-toggle(id="dropdownMenuButton" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false") profile
                
                .dropdown-menu.bg-secondary(aria-labelledby="dropdownMenuButton")          
                    a.dropdown-item(href="/profile/register") register
                    a.dropdown-item(href="/profile/login") login
                    a.dropdown-item(href="/profile/editProfile") edit profile
                    a.dropdown-item(href="#" id="logout" ) logout
        .info.ml-auto
            div(style="width=50px")
                .m-auto
                    img(id="userLogo" alt="userLogo" width="40px" height='30px')
                        
            .mr-3
                small
                    .col
                        i#data

    script.
        const sendToken = (request) =>{
            request.setRequestHeader("Authorization" , localStorage.getItem('x-auth')||sessionStorage.getItem("x-auth"))
        }

        $("#logout").on("click",function(){
            $.ajax({
                beforeSend:sendToken,
                method:"post",
                url:"/profile/logout",
                success:function(data){
                    Success=true
                    localStorage.clear()
                    sessionStorage.clear()
                    window.location.reload()
                    alert(data.msg)

                },
                error:function(err){
                    Success=false
                    alert(error.msg)
                }
            })
        })
        
        $('#data').html(localStorage.getItem('userName')||
                        sessionStorage.getItem('userName')||
                        'you are not login')
        
        var imageFilename = window.localStorage.getItem('imageFilename') 
                            ||window.sessionStorage.getItem('imageFilename')
    


        if(imageFilename=="undefined"||imageFilename==undefined){
            $('#userLogo').attr("src","/images/user_logo.png")
        }else{
            $('#userLogo').attr("src",`http://localhost:3000/image/user/${imageFilename}`)
        }   