link(rel="stylesheet" , href="/css/header.css")
script(type="text/javascript" src="/js/headerScript.js")
header
    nav
        .burger
            div
            div
            div

        ul.nav-link.row 
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/") home
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/todoList") todoList
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/shopping" id="shop") shop
            li.col-lg-2.col-md-2.col-sm-12
                a(href="/about") about
            .dropright.col-lg-2.col-md-2.col-sm-12
                button.btn.btn-success.btn-sm.dropdown-toggle(id="dropdownMenuButton" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false") profile
                
                .dropdown-menu.bg-secondary(aria-labelledby="dropdownMenuButton")          
                    a.dropdown-item(href="/profile/register") register
                    a.dropdown-item(href="/profile/login") login
                    a.dropdown-item edit profile
                    a.dropdown-item(href="#" id="logout" ) logout
        .info.ml-auto
            div(style="width=50px")
                img(id="userLogo" alt="userLogo" width="40px" height='30px')
                        
            .mr-3
                small
                    .col
                        i.text-warning#data