include ./layout.pug
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> #feature : add shopping center route and design it
script(src="/js/UserScript.VUE.js")

=======
script(src="/js/UserScript.js")
script.
    var name = localStorage.getItem('userName') || sessionStorage.getItem('userName')
>>>>>>> 2b293b86407f0f4d64ea5b93c9b9c45996696e97
body
    include ./header.pug

    h1.display-4.text-center.mb-5.text-dark#text_welcome(style="text-decoration:underline") 


    main.row
        section.col-md-5
            button.btn(data-toggle="collapse" , data-target=".collapseExample" 
            ,aria-expanded="false" , aria-controls=".collapseExample") signUp user

            form.input-group.card.collapse.collapseExample.p-5(v-on:submit.prevent="AddNewUser" enctype="multipart/form-data" class="form" id="form-data")
                div
                    label(for="userName") username
                    input.form-control(type="text" v-model="userName" id="userName")
                div
                    label(for="phone") phone
                    input.form-control(type="text" v-model="phone" id="phone")
                div
                    label(for="email") email
                    input.form-control(type="text" v-model="email" id="email")
                div
                    label(for="password") password
                    input.form-control(type="text" v-model="password" id="password")
                div
                    label(for="file") please insert your Image (optional)
                    input.form-control(id="file" type="file" name="imgUser")
                div
                    button.btn.btn-primary.btn-block.mt-3.mb-3#btn_register new User

        
        section.col-md-5
            button.btn(data-toggle="collapse" , data-target=".loginCollapse" 
            ,aria-expanded="false" , aria-controls=".loginCollapse") login User

            form.input-group.card.collapse.loginCollapse.p-5(v-on:submit.prevent="loginUser" id="login_form")
                div
                    label(for="l_email") email
                    input.form-control(type="text" v-model="email" id="l_email")
                div
                    label(for="l_password") password
                    input.form-control(type="text" v-model="password" id="l_password")
                .form-group.form-check
                    input#exampleCheck1.form-check-input(type='checkbox' v-model="permanent")
                    label.form-check-label(for='exampleCheck1') remember_me

                div
                    button.text-white.btn.btn-block.mt-3.mb-3#btn_login login User

    include ./footer.pug

