include ./layout.pug
script(src="/js/UserScript.js")
script.
    var name = localStorage.getItem('userName') || sessionStorage.getItem('userName')
body(style="background-color:#2a8600")
    
    include ./header.pug

    main.row
        section.col-md-5
            button.btn.btn-success(data-toggle="collapse" , data-target=".collapseExample" 
            ,aria-expanded="false" , aria-controls=".collapseExample") signUp user

            form.input-group.card.collapse.collapseExample.p-5(v-on:submit.prevent="AddNewUser" class="form")
                div
                    label(for="username") username
                    input.form-control(type="text" v-model="userName")
                div
                    label(for="phone") phone
                    input.form-control(type="text" v-model="phone")
                div
                    label(for="email") email
                    input.form-control(type="text" v-model="email")
                div
                    label(for="password") password
                    input.form-control(type="text" v-model="password")
                div
                    button.btn.btn-primary.btn-block.mt-3.mb-3 new User
        
        
        section.col-md-5
            button.btn.btn-success(data-toggle="collapse" , data-target=".loginCollapse" 
            ,aria-expanded="false" , aria-controls=".loginCollapse") login User

            form.input-group.card.collapse.loginCollapse.p-5(v-on:submit.prevent="loginUser" id="login_form")
                div
                    label(for="email") email
                    input.form-control(type="text" v-model="email")
                div
                    label(for="password") password
                    input.form-control(type="text" v-model="password")
                .form-group.form-check
                    input#exampleCheck1.form-check-input(type='checkbox' v-model="permanent")
                    label.form-check-label(for='exampleCheck1') remember_me

                div
                    button.btn.btn-primary.btn-block.mt-3.mb-3 login User



    include ./footer.pug
