include ./layout.pug

body

    include ./header.pug

    

    main 
        button.btn.btn-success(data-toggle="collapse" , data-target=".collapseExample" 
        ,aria-expanded="false" , aria-controls=".collapseExample") signUp

        form.input-group.card.col-md-2.collapse.collapseExample(id="form")
            div
                label(for="username") username
                input.form-control(type="text",v-model="userName")
            div
                label(for="phone") phone
                input.form-control(type="text",v-model="phone")
            div
                label(for="email") email
                input.form-control(type="text",v-model="email")
            div
                label(for="password") password
                input.form-control(type="text",v-model="password")
            div
                button.btn.btn-primary.mt-3.mb-3(v-on:click="AddNewUser") Add User


    include ./footer.pug