.messages
    -
    each type in Object.keys(messages)
        -
        each message in messages[type]
            div(class=`alert alert-${type} alert-dismissible fade show text-right` role="alert")=message
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') ×
