include layout.pug
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js")
script(src="/js/TodoScript_JQ.js")

body
    include ./header.pug
    .container.mb-5.mt-5
        form.input-group(id="form")
            input.form-control(id="Task" class="search")
            button.btn.btn-danger.btn-small#submitTask Submit Task

    main.container
        .d-flex.justify-content-between
            h2.mb-3(id='count')
            
            
            .btn-group.dropright
                button.btn.btn-warning.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Filter ToDoList
                .dropdown-menu
                    span.dropdown-item.all(value="all") all Todos 
                    span.dropdown-item.enabled(value="enabled") Enabled Todos 
                    span.dropdown-item.disable(value="disabled") Disabled Todos 
            


        table.table.table-striped.table-borderless.table-responsive-sm.table-info
            thead
                tr
                    th(width=5) isDone
                    th todo
                    th date
                    th time
                    th update
                    th remove
                    th created At
                    th sender
            tbody#tbody
            