include layout.pug
body
    include ./header.pug

    main.container
        table.table.table-striped.table-bordered
            thead
                tr
                    th todo
                    th remove
                    th update
            tbody
                tr
                    td

    include ./footer.pug