include layout.pug
script(src="/js/UserScript.js")
body
    include ./header.pug
    main#table.mt-5
        script.
            var urlParams = new URLSearchParams(window.location.search)
            var msg = urlParams.get('msg')
            var isLogin = window.localStorage.getItem('x-auth')

        p.mb-4.display-4.text-dark.text-center#msg= isLogin
        

        .container.d-flex.justify-content-between
            h2.mb-3.text-dark count : {{count}}
            input(type="text",class="form-control col-5",placeholder="search in userNames",
                v-model="textSearch",v-on:keyup="searchUser" class="search")
        .container    
            table.table.table-striped.table-bordered
                thead
                    tr
                        th userName
                        th phone
                        th email
                        th signUp_Date
                        th signUp_Time
                        th Remove
                        th Update
                tbody
                    tr(v-for="user in people")
                        td {{user.userName}}
                        td {{user.phone}}
                        td {{user.email}}
                        td {{user.signUpDate}}
                        td {{user.signUpTime}}
                        td
                            img.logo(src="/images/trash.svg" , v-on:click="RemoveUser(user)")
                        td 
                            img.logo(src="/images/edit.svg" , v-on:click="beginUpdate(user)"
                            data-toggle="collapse", data-target="#collapseExample", aria-expanded="false",
                            aria-controls="collapseExample") 
        .collapse#collapseExample
            form.row(class="form")
                .col
                    input.form-control.mb-1(type="text" , placeholder="userName" , v-model="userName")
                    input.form-control.mb-1(type="text" , placeholder="phone" , v-model="phone")
                .col  
                    input.form-control.mb-1(type="text" , placeholder="email" , v-model="email")
                    button.btn.btn-info.btn-block.text-warning(v-on:click="UpdateUser") update User

    include ./footer.pug


    script.
        var urlParams = new URLSearchParams(location.search)
        var msg = urlParams.get('msg')
        if(msg){
            $("#msg").text(msg)
        }