include layout.pug
script(src="/js/UserList.VUE.js")
body(style="heigth:150vh")
    include ./header.pug
    
    section#showInfo.row
        p.col-lg-4.col-md-4.col-sm-12.groupName group name: 
        p.col-lg-4.col-md-4.col-sm-12#position you are : 
        p.col-lg-4.col-md-4.col-sm-12#count members count :

    section#area 
        label write todo for:
        textarea#textarea(name="writeTodoToSomeBody" rows="5" cols="50")
        button.btn.btn-success send Task

    main#table.mt-5
        .container.mb-2
            input.form-control(type="text"  placeholder="search in userNames",
                v-model="textSearch",v-on:keyup="searchUser" class="search")
        .container    
            table.table_Users.table.table-hover.table-sm.table-dark.table-responsive-sm
                caption.groupName list of users 
                thead.bg-danger
                    tr
                        th userName
                        th phone
                        th email
                        th cash
                        th pic
                        th signUp_Date_Time
                        th Remove

                tbody
                    tr(v-for="user in people")
                        td {{user.userName}}
                        td {{user.phone}}
                        td {{user.email}}
                        td {{user.cash}}
                        td.p-2
                            div(v-if="!user.imageAddress")
                                img(src="/images/user_logo.png" width="30px")
                            div(v-else)
                                img(:src="'http://localhost:3000/image/user/'+user.imageAddress.filename"
                                    width="60px"
                                    height="50px")


                        td {{user.signUpDate +'___'+ user.signUpTime}}
                        td
                            img.logo(src="/images/trash.svg" , v-on:click="RemoveUser(user)")


                            