html,body{
	width:100%;
	background-color:#e2e2e2;
	color:black;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size:1em;
	margin:0;
	padding:0;
	box-sizing: border-box;
	overflow-x: hidden; 
}
header{ 
	/* overflow-x: hidden;  */
}
label{
	color:darkmagenta;
	display:block;
	width:100%;
}
#area{
	display:flex;
	flex-direction: column;
	height:210px;
	width:550px;
	margin:auto;
}

#area button{
	width:120px;
	margin-left:auto;
	margin-top:5px;
}

table th,table td {
	text-align:center
}
.table_Users{	 
	color:rgb(216, 216, 3);
	font-weight:bold;
}
#tbody td{
	color:red;
}
.logo{
	width:20px;
	display:block;
	margin:auto;
}
.card{
	background: rgb(70, 111, 139);
	border-radius: 5px;
	height:fit-content;
	margin:40px;
}
main{
	height:fit-content;
}
#form{
	width:100%;
}
.col input{
	width:100%;
}
.signUp h3{
	display:inline
}

.display-4{
	font-size:2em;
}
.search{
	background-color:rgb(223, 223, 223);
	border:1px solid black;
	border-radius:9px;
}
.btn{
	border:1px solid black;
}

#btn_login,#btn_register{
	background-color:rgb(0, 21, 211)
}

#showInfo{
	height:150px;
	border:1px solid black;
	display: flex;
	justify-content:space-around;
}

#showInfo p{
	padding-top:50px;	
	font-size: 1.2em; 
	text-align: center;	
}
#showInfo p span{
	font-weight: bold;
}
.dropdown-menu{
	cursor:pointer;
}

@media only screen and (max-width:767px){
	html,body{ 
		height:160vh;		
	}

	#showInfo{
		height:200px;
	}
	#showInfo p{
		padding-top:0;
		height:70px;
		margin-bottom:0;
	}
	table{
		overflow-x:scroll;
	}
	.search{
		width:100%;
	}
	#count{
		font-size:1.4em;	
	}
}
